<a href="https://colab.research.google.com/github/CodeWithAnkit1/CodeWithAnkit1/blob/main/Python_DataStructures_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
##Dictionaries

name = 'ronaldo'
isGoodPlayer = 'True'
age = 78
height = 185.86
isIndian = False 
print(isIndian, type(isIndian))

#my_var = ['ronaldo']

False <class 'bool'>

In [5]:
#list
my_var = [name, isGoodPlayer, age, height]
print(my_var, type(my_var))

#Tupple
my_var = (name, isGoodPlayer, age, height)
print(my_var, type(my_var))

#Set
my_var = {name, isGoodPlayer, age, height}
print(my_var, type(my_var))

#Dictionary
my_var = {'name':name, 'isGoodPlayer':isGoodPlayer, 'age':age, 'height':height}
print(my_var, type(my_var))

['ronaldo', 'True', 78, 185.86] <class 'list'>
('ronaldo', 'True', 78, 185.86) <class 'tuple'>
{'ronaldo', 185.86, 'True', 78} <class 'set'>
{'name': 'ronaldo', 'isGoodPlayer': 'True', 'age': 78, 'height': 185.86} <class 'dict'>

In [11]:
lang = {'en':'English', 'fr':'French', 'hi':'HINDI', 'gr':'German'}
print(lang, type(lang))

##Querying disctionary key needs [] sqare brackets (remember)
print(lang['en'])

sameMeaning = {'pride': ['delight', 'dignity', 'joy']}
print(sameMeaning, type(sameMeaning))
print(sameMeaning['pride'], type(sameMeaning['pride']))

{'en': 'English', 'fr': 'French', 'hi': 'HINDI', 'gr': 'German'} <class 'dict'>
English
{'pride': ['delight', 'dignity', 'joy']} <class 'dict'>
['delight', 'dignity', 'joy'] <class 'list'>

In [15]:
lang = {'en':'English', 'fr':'French', 'hi':'HINDI', 'gr':'German'}
print(lang, type(lang))
#reading values from disctionary
print(lang['en'], lang['en'])

#Adding keyvalue pair to disctioanry

lang['pu'] = 'Punjabi'
print(lang, type(lang))

#Update value corresponding to key in dictionary
lang['hi'] = 'Hindi'
print(lang, type(lang))

#in Python disct if you try assigning  values rto key that doesnt exist
#it will add or else it will update if already exists


#delete key value pair in dict
del lang['hi']
print(lang, type(lang))


#For updating a key first need to remove key value pair for that key and then insert new one

{'en': 'English', 'fr': 'French', 'hi': 'HINDI', 'gr': 'German'} <class 'dict'>
English English
{'en': 'English', 'fr': 'French', 'hi': 'HINDI', 'gr': 'German', 'pu': 'Punjabi'} <class 'dict'>
{'en': 'English', 'fr': 'French', 'hi': 'Hindi', 'gr': 'German', 'pu': 'Punjabi'} <class 'dict'>
{'en': 'English', 'fr': 'French', 'gr': 'German', 'pu': 'Punjabi'} <class 'dict'>

In [17]:
# Values in dictionary ca be anything
# key on the other note is not same, it should always be unique
# elements in set and keys in dict cannot be mutable/editable data structures (list, disctionarey, set) 
# All primitive data strcures were mutable i.e. string, int, float, Bool

# errorDict = {[1,2]: 'Error'}
# errorDict = {{1,2}: 'Error'}
# errorDict = {[1,2]: 'Error'}
errorDict = {(1,2): 'Error'}
print(errorDict, type(errorDict))

{(1, 2): 'Error'} <class 'dict'>

In [18]:
railway_codes = {'NDLS': 'new Delhi'}
print(railway_codes, type(railway_codes))

{'NDLS': 'new Delhi'} <class 'dict'>

In [20]:
lang = {'en':'English', 'fr':'French', 'hi':'HINDI', 'gr':'German'}
print(lang, type(lang))

print(lang['fr'])

#Method 1:
if 'pb' in lang:
    print(lang['pb'])
else:
    print('key not found')

#Better Method 2:

print(lang.get('pb','Key not found'))

print(lang.get('fr','Key not found'))

{'en': 'English', 'fr': 'French', 'hi': 'HINDI', 'gr': 'German'} <class 'dict'>
French
key not found
Key not found
French

In [27]:
lang = {'en':'English', 'fr':'French', 'hi':'HINDI', 'gr':'German'}
print(lang, type(lang))

for l in lang:
  print (l)

for l in lang:
  #print (lang.get[l])   ##
  print (l,'\t',lang[l])
  print (lang.get(l))

{'en': 'English', 'fr': 'French', 'hi': 'HINDI', 'gr': 'German'} <class 'dict'>
en
fr
hi
gr
en 	 English
English
fr 	 French
French
hi 	 HINDI
HINDI
gr 	 German
German

In [30]:
lang = {'en':'English', 'fr':'French', 'hi':'HINDI', 'gr':'German'}
print(lang, type(lang))

# Get keys
print (lang.keys()) 

# Get Values
print (lang.values())

##items **** (both key and values)

print (lang.items(), type(lang.items()))

{'en': 'English', 'fr': 'French', 'hi': 'HINDI', 'gr': 'German'} <class 'dict'>
dict_keys(['en', 'fr', 'hi', 'gr'])
dict_values(['English', 'French', 'HINDI', 'German'])
dict_items([('en', 'English'), ('fr', 'French'), ('hi', 'HINDI'), ('gr', 'German')]) <class 'dict_items'>

In [37]:
for myTuple in lang.items():
    print(myTuple)

## Unpacking tuple
print('\n','Unpacking','\n')

for myTuple in lang.items():
    key, value = myTuple
    print(key, value)

#Alternate Method
print('\n','Alternate Method','\n')
for key, value in lang.items():
    #key, value = myTuple
    print(key, value)

('en', 'English')
('fr', 'French')
('hi', 'HINDI')
('gr', 'German')

 Unpacking

en English
fr French
hi HINDI
gr German

 Alternate Method

en English
fr French
hi HINDI
gr German

In [45]:
name = 'ronaldo'
teams = ('rm','ju','mu')
player = [name, teams]

#print (name[0])
print (player)
# Print first charter of palayers name using player variable
print (player[0][0])

#print last team for ronaldi 
print (player[1][2])

print (player[1][-1])

['ronaldo', ('rm', 'ju', 'mu')]
r
mu
mu

In [47]:
# print 7 raise to power 4

print(7*7*7*7,7**4)

2401 2401

In [56]:
#fstring
#2 Using string formatting print: diameter of earth is 12734
planet = 'earth'
diameter = 12734

print(f"diameter of {planet} is  {diameter}")

planet = 'mars'
diameter = 78678.897897

print(f"diameter of {planet} is  {diameter}")

diameter of earth is  12734
diameter of mars is  78678.897897

In [58]:
#Splitting string to list

s = 'this is python programming'
print(s.split())  # by default split happens on white space

print(s.split('is'))  # by default split happens on white space

['this', 'is', 'python', 'programming']
['th', ' ', ' python programming']

In [62]:
#4 get all the words in the string that contain *
# hint split and then use a loop
giftBox = 'bread iph*one butter ip*ad milk'

print(giftBox.split())
x = giftBox.split()
#Quick search for this in something
for i in x:
  if '*' in i:
    print(i)

['bread', 'iph*one', 'butter', 'ip*ad', 'milk']
iph*one
ip*ad

In [84]:
#***************#5 filter colors starting with vowel a, e, i, o, u
colors = 'red orange blue indigo green'

x = ['a','e','i','o','u']
y = colors.split()
print(y)

#print (y)
for i in y:
  #print (i)
  #print (f'{i} starts with {i[0]}')
  if i[0] in 'aeiou':
    print(i)

['red', 'orange', 'blue', 'indigo', 'green']
orange
indigo

In [91]:
# 6 Given a nested list, grab and print 'hello'
lst = [1,2,[3,4],[5,[100,200,[True,'hello'], False],'hi'],10,11]

print(lst[3][1][2][1])

hello

In [109]:
# 7 Given a nested dict, grab and print 'hello'
# use indexes, dict keys and splitting of strings
dct = {'here':[1,2,3,{'target':(False,{'color':'black','greetings':['hello world']})}]}

print(dct.values(),type(dct.values()))
x = dct.values()
y = x.keys()
print(x)

dict_values([[1, 2, 3, {'target': (False, {'color': 'black', 'greetings': ['hello world']})}]]) <class 'dict_values'>

AttributeError: ignored

In [152]:
# 8 Guess the number
# generate a random between 1-10 and store it
# then ask the user to enter a number 
# if the user choice is greater than computer choice say 'too high'
# if the user choice is smaller than computer choice say 'too low'
# if the user choice is equal to computer choice say 'correct guess'
# BONUS points: allow user a max of 3 guesses
# will need: use google to learn how to generate a random number between 1-10

import random
#print(random.randint(1,9))
x= random.randint(1,9)
print(x)

#val1 = input("Enter your value: ")
#print(val1,type(val1))
i = 0
for i in range(0, 3):        
  val = int(input("Enter your value: "))
  print(val)
  if x<val:
    print ("value is too high")
  elif x>val:
      print ("value is too low")
  elif x==val:
      print ("correct guess")
      break
  else: print(f'You failed, the correct guess was {val}, wanna try again?')

3
Enter your value: 4
4
value is too high
Enter your value: 1
1
value is too low
Enter your value: 1
1
value is too low

In [ ]:
import random

#print(random.randint(1,9))
x= random.randint(1,9)
print(x)
i = 0
while i<4:
  val = int(input("Enter your value: "))
  print(val)
  if x<val:
    print ("value is too high")
  elif x>val:
      print ("value is too low")
  else:
      print ("correct guess")
      break
  i=i+1

In [141]:
#range

print('>> range (end) >> 0, 1,..... end -1')

for i in range(4):
  print(i)

print('>> range (start,end) >> start, start+1,..... end -1')

for i in range(2,9):
  print(i)

print('>> range (start,end,step) >> start, start+step,..... end -1')

for i in range(2,78,9):
  print(i)

>> range (end) >> 0, 1,..... end -1
0
1
2
3
>> range (start,end) >> start, start+1,..... end -1
2
3
4
5
6
7
8
>> range (start,end,step) >> start, start+step,..... end -1
2
11
20
29
38
47
56
65
74

In [143]:
#Print all even numbers
for i in range(2,15,2):
  print(i)

2
4
6
8
10
12
14

In [145]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [159]:
#modulo

print(5%2)
print(17%3)
print(16%2)

1
2
0

In [158]:
#Floor division
#largest integrer smaller or equal to the division value

print(5//2)
print(9//2.5)
print(-7//2)

2
3.0
-4

In [170]:
  val = int(input("Enter your int: "))
  print(val)

  if val==0:
       print('number is zero')
  elif val%2 == 0:
    print('number is even') 
  else: print('number is odd')

Enter your int: 0
0
number is zero